<h1>Edit POST!</h1>
<form action="/posts/:id" method="post">
  <input id="hidden" name="_method" value="patch">
  Name: <input type="text" name="name">
  Content: <input type="text" name="content">
  <input type="submit" value="Edit">
</form>
